node_modules/
dist/
build/
*.min.js
*.min.css
*.min.html
package-lock.json
yarn.lock
*.jpg
*.png
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
manifest.json
browserconfig.xml
sitemap.xml
robots.txt
sw.js